.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ¡Magia Responsiva! */
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.section-title {
    margin-top: 40px;
    border-bottom: 2px solid #dd0031;
    display: inline-block;
    padding-bottom: 5px;
}

.main-footer {
    background-color: #333; /* El mismo gris oscuro de tus botones */
    color: white;           /* Texto blanco para que resalte */
    padding: 40px 0;        /* Espacio arriba y abajo para que respire */
    margin-top: 100px;       /* Aleja el footer de tus proyectos */
    border-top: 4px solid #dd0031; /* Una línea roja arriba para darle estilo Angular */
}

.footer-content {
    max-width: 800px;       /* No queremos que el texto se pegue a los bordes */
    margin: 0 auto;         /* Centra el contenedor en la pantalla */
    text-align: center;     /* Centrar el texto */
    display: flex;          /* Usamos Flexbox */
    flex-direction: column; /* Apila el texto y los links uno sobre otro */
    gap: 10px;              /* Separa el nombre del "Hecho con Angular" */
}

.footer-links span {
    font-size: 0.9rem;
    color: #bbb;            /* Un gris más claro para que no distraiga tanto */
}